.custom-navbar{
    background-color: #3fbbc0;
}

.navbar-brand img {
    max-width: 50px;
    height: auto;
    margin-right: 0.5rem;
}

.navbar .nav-link:hover {
    background-color: hsl(186, 60%, 45%);
    color: white; 
    border-radius: 20%;
}