<div class="container-fluid">
  <div class="row">
    <!-- Barra de navegación vertical -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar custom-sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="'/functions/list'"
              >Funciones</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="'/reservations/list'"
              >Reservas</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="'/reservations/form'"
              >Agregar una reserva</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="col-md-8 ms-sm-auto col-lg-10 px-md-4 mt-3">
      <div class="page-title-container mb-4">
        <h1 class="page-title">Reservas Registradas</h1>
        <hr class="title-underline" />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por email del usuario"
          [(ngModel)]="filterText"
          (input)="searchReservations()"
        />
      </div>

      <div class="row">
        <div *ngFor="let res of filteredReservations" class="col-md-6 mb-3">
          <div class="card shadow-sm rounded-lg text-start">
            <div class="card-body">
              <h5 class="card-title fw-bold mb-2">{{ res.user_email }}</h5>
              <p class="card-text"><strong>Función:</strong> {{ res.function_id }}</p>
              <p class="card-text"><strong>Asientos:</strong> {{ res.seats_selected }}</p>
              <p class="card-text"><strong>Cantidad:</strong> {{ res.numeber_seats_selected }}</p>

              <!-- Botones de acción -->

              <div class="mt-auto d-flex justify-content-center">
                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="onDelete(res)"
                >
                  Eliminar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
