<div class="container-fluid">
  <div class="row">
    <!-- Barra de navegación vertical -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar custom-sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link text-light"
              [routerLink]="'/functions/list'"
              >Funciones</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-light"
              [routerLink]="'/functions/form'"
              >Agregar nueva función</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="col-md-8 ms-sm-auto col-lg-10 px-md-4 mt-3">
      <div class="page-title-container mb-4">
        <h1 class="page-title">Funciones Programadas</h1>
        <hr class="title-underline" />
      </div>

      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar película por título"
          [(ngModel)]="filterText"
          (input)="searchFunctions()"
        />
      </div>

      <div class="row">
        <div *ngFor="let fn of filteredFunctions" class="col-md-6 mb-4">
          <div class="card shadow-sm rounded-lg text-start">
            <div class="card-body">
              <h5 class="card-title fw-bold mb-2">
                {{ fn.movie?.title || 'Película no encontrada' }}
              </h5>
              <p class="card-text">
                <strong>Sala:</strong> {{ fn.room?.name || 'Sala no encontrada' }}
              </p>
              <p class="card-text">
                <strong>Horario:</strong> {{ fn.schedule | date: 'short' }}
              </p>
              <p class="card-text">
                <strong>Asientos disponibles:</strong> {{ fn.available_seats }}
              </p>

                <!-- Botones de acción -->

              <div class="mt-auto d-flex justify-content-center">
                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="onDelete(fn)"
                >
                  Eliminar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
